body {
  background-color: white;
  margin: 30;
  padding: 0;
}
.header {
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 100%;
}
h1 {
  color: blue;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 60px;
  text-align:center;
  margin: 0;
}
h2,h3,h4 {
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
}

p {
  color: black;
  font-family: 'Open sans', sans-serif;
  font size: 16px;
  font-weight:100;
  line-height: 48px;
  margin:30;
  text-align:center;
  width: 100%;
}

  
